Here we imported the _`pandas`_ library and then initialized a variable called _`ds`_ that read the csv file that contains the dataset and then store the dataset into the variable

In [1]:
import pandas as pd
ds =  pd.read_csv("../Datasets/Sample5 - Brest Cancer.csv")

_`.head(n)`_ function is used to display the first _`n`_ rows from the Dataframe

In [2]:
ds.head()

,Clump Thickness,Cell Size,Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Cancer
0,5,4,3,1,2,1,2,3,1,1
1,9,1,2,6,4,10,7,7,2,0
2,10,4,7,2,2,8,6,1,1,0
3,6,10,10,10,8,10,7,10,7,0
4,1,1,1,1,2,5,5,1,1,1

_`.shape`_ is used to display the number of rows and columns of the Dataframe

In [3]:
ds.shape

(699, 10)

_`.info()`_ is used to get an overall information about the dataframe like the column names, data type, number of entires, etc

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Clump Thickness              699 non-null    int64
 1   Cell Size                    699 non-null    int64
 2   Cell Shape                   699 non-null    int64
 3   Marginal Adhesion            699 non-null    int64
 4   Single Epithelial Cell Size  699 non-null    int64
 5   Bare Nuclei                  699 non-null    int64
 6   Bland Chromatin              699 non-null    int64
 7   Normal Nucleoli              699 non-null    int64
 8   Mitoses                      699 non-null    int64
 9   Cancer                       699 non-null    int64
dtypes: int64(10)
memory usage: 54.7 KB

_`.describe()`_ is used to see the mean, std, min, max, etc. _i.e._ a description of the Dataframe

In [5]:
ds.describe()

,Clump Thickness,Cell Size,Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Cancer
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.655222
std,2.815741,3.051459,2.971913,2.855379,2.214300,3.621929,2.438364,3.053634,1.715078,0.475636
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,1.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,5.000000,4.000000,1.000000,1.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

_`.isnull()`_ returns if a cell in the Dataframe is empty or not

In [6]:
ds.isnull()

,Clump Thickness,Cell Size,Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Cancer
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False

_`.sum()`_ as the name suggest returns the sum

In [7]:
ds.isnull().sum()

Clump Thickness                0
Cell Size                      0
Cell Shape                     0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Cancer                         0
dtype: int64

_`.mean()`_ is used to find the mean of a given column

In [8]:
ds["Clump Thickness"].mean()

4.417739628040057